<%= content_for :table_title do %>Customers<% end %>

<%= content_for :table_head do %>
  <th>Full name</th>
  <th>Phone</th>
  <th>Email</th>
<% end %>

<%= content_for :table_body do %>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.full_name %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.email %></td>
      <td><%= link_to 'Show', customer, class: 'btn-sm btn-outline-primary', role: 'button' %></td>
      <td><%= link_to 'Edit', edit_customer_path(customer), class: 'btn-sm btn-outline-primary', role: 'button' %></td>
      <td>
        <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-outline-primary', role: 'button' %>
      </td>
    </tr>
  <% end %>
<% end %>

<%= content_for :new_button do %>
  <% if current_page?(customers_path) %>
    <%= link_to 'New Customer', new_customer_path, class: 'btn btn-outline-primary btn-sm mb-4', role: 'button' %>
  <% end %>
<% end %>

<%= render partial: 'customers/table' %>
