<%= content_for :table_title do %>Customer Orders<% end %>

<% content_for :card_or_form do %>
  <div class="row">
    <div class="card bg-light p-3 mb-4 mx-auto col">
      <% if current_page?(customer_path) %>
        <%= image_tag 'user.png', alt: 'Customer avatar', class: 'card-img-top img-fluid' %>
        <div class="card-body">
          <p class="d-flex justify-content-between">
            <strong>First name:</strong>
            <span><%= @customer.first_name %></span>
          </p>
          <p class="d-flex justify-content-between">
            <strong>Last name:</strong>
            <span><%= @customer.last_name %></span>
          </p>
          <p class="d-flex justify-content-between">
            <strong>Phone:</strong>
            <span><%= @customer.phone %></span>
          </p>
          <p class="d-flex justify-content-between">
            <strong>Email:</strong>
            <span><%= @customer.email %></span>
          </p>

          <%= link_to 'Edit Customer', edit_customer_path(@customer), class: 'btn btn-outline-primary btn-sm', role: 'button' %>
        </div>
      <% else %>
        <h5 class="card-title">Edit Customer</h5>
        <%= render 'form', customer: @customer %>
      <% end %>
    </div>

    <div class="col-lg">
<% end %>

<%= content_for :table_head do %>
  <th>Product Name</th>
  <th>Order Count</th>
  <th>Order Date</th>
<% end %>

<% content_for :table_body do %>
  <% if @customer.orders %>
    <% @customer.orders.each do |order| %>
      <tr>
        <td><%= order.product_name %></td>
        <td><%= order.product_count %></td>
        <td colspan="2"><%= order.created_at.to_date %></td>
        <td><%= link_to 'Show', order, class: 'btn-sm btn-outline-primary', role: 'button' %></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: 'btn-sm btn-outline-primary', role: 'button' %></td>
        <td>
          <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you
          sure?' }, class: 'btn-sm btn-outline-primary', role: 'button' %>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>

<% content_for :new_button do %>
    </div>
  </div>
<% end %>

<%= render partial: 'customers/table' %>
