<%= content_for :table_title do %>Orders<% end %>

<%= content_for :table_head do %>
  <th>Product Name</th>
  <th>Order Count</th>
  <th>Customer</th>
<% end %>

<%= content_for :table_body do %>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.product_name %></td>
      <td><%= order.product_count %></td>
      <td><%= Customer.find(order.customer_id).full_name %></td>
      <td><%= link_to 'Show', order, class: 'btn-sm btn-outline-primary', role: 'button' %></td>
      <td><%= link_to 'Edit', edit_order_path(order), class: 'btn-sm btn-outline-primary', role: 'button' %></td>
      <td>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-outline-primary', role: 'button' %>
      </td>
    </tr>
  <% end %>
<% end %>

<%= content_for :new_button do %>
  <% if current_page?(orders_path) %>
    <%= link_to 'New order', new_order_path, class: 'btn btn-outline-primary btn-sm mb-4', role: 'button' %>
  <% end %>
<% end %>

<%= render partial: 'customers/table' %>
